In [11]:
# question1
import pandas as pd

In [10]:
data=[4,8,15,16,23,42]

In [9]:

 
ser = pd.Series(data)
print(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
# question2

In [12]:
import pandas as pd

In [13]:
lst=['csk','mi','rcb','kkr','rr','pbks','srh','dc','lsg','gt']

In [16]:
pd.Series(lst)

0     csk
1      mi
2     rcb
3     kkr
4      rr
5    pbks
6     srh
7      dc
8     lsg
9      gt
dtype: object

In [ ]:
# question3

In [17]:
import pandas as pd

In [18]:
data1=[['Alice',25,'Female'],['Bob',30,'Male'],['Claire',27,'Female']]

In [20]:
df=pd.DataFrame(data1,columns=['Name','Age','Gender'])

In [28]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [22]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
# question4

In [ ]:
# Pandas DataFrame, on the other hand, is a two-dimensional structure with columns and rows whose size can be changed. You can also think of it as a dictionary of Series objects. The data parameter can take any of the following data types: Dictionary (dict) of – 1D ndarray, lists, or Series.
#1)Series are 1-D, whereas Dataframe are 2-D. 2)Series consists of homogeneous data, whereas dataframe consists of heterogeneous data. 3)series are value mutable whereas dataframe are not.

In [3]:
import pandas as pd
data1=(['Alice',25,'Female'],['Bob',30,'Male'],['Claire',27,'Female'])

In [14]:

import pandas as pd
 

data = (['g', 'e', 'e', 'k', 's'])
 
ser = pd.Series(data)
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

In [13]:
type(ser)

pandas.core.series.Series

In [6]:

import pandas as pd

teams= pd.Series(['csk',
              'mi', 'rcb', 'kkr'])
champions= pd.Series([4, 5, 0, 2])
ipl = {'ipl_teams': teams,
         'champions_list':champions }
history = pd.DataFrame(ipl)
print(history)

  ipl_teams  champions_list
0       csk               4
1        mi               5
2       rcb               0
3       kkr               2

In [7]:
type(history)

pandas.core.frame.DataFrame

In [ ]:
# question5

In [ ]:
# Read Data
# We can read data in pandas data frame as read_csv(). Two most used data read formats are csv and excel. If we are reading data in excel format, we can also give sheet names as follows. There are other less used options of other file types too.

# Head and Tail

# To see the data frame we can use df.head(). Head returns the first rows, if no input is given it will always show above 5 rows. In contrast to see below rows, we can use df.tail().

In [ ]:
# question6

In [ ]:
# All Pandas data structures are value mutable (can be changed) and except Series all are size mutable. Series is size immutable. Note − DataFrame is widely used and one of the most important data structures. Panel is used much less.

In [ ]:
# question7

In [20]:
import pandas as pd

courses = pd.Series(["Spark","PySpark","Hadoop"])
fees = pd.Series([22000,25000,23000])
discount  = pd.Series([1000,2300,1000])

df=pd.concat([courses,fees,discount],axis=1)
print(df)

         0      1     2
0    Spark  22000  1000
1  PySpark  25000  2300
2   Hadoop  23000  1000

In [21]:
type(df)

pandas.core.frame.DataFrame