In [ ]:
# question 1

In [ ]:
# the difference between ordinal encoding and label encoding is,label encoding represent the categorical variable with unique numerical values for example: we have a flowers category with three flowers rose,jasmine,lotus if we performing label coding it assigns a numerical value to these three categories based on this alphabetical order that means it represents jasmine to 0,lotus to 1,rose to 2 wherever these 3 flowers appears it represents particular numerical value to particular category but problem in this label coding is here this method assigns high value 2 to rose and low value 0 to jasmine so system consider rose is better rank than jasmine and lotus this is not true right because as we know these three flowers are specific but not in rank format nut system doesn't know because system considering only based on the numeric value this is the drawback of this method.on the other hand ordinal encoding used for representing ranking type category for example: we have a category column like education level suppose in this category we have three unique categories bacherlors,masters,phd it assigns a 0 to bachelors ,1 to masters,and 2 to phd here system considered that phd>masters>bachelors this is correct in real world also so if we have ranking category we must use ordinal encoding to get a accurate result.

# label encoding

In [2]:
import pandas as pd
df=pd.DataFrame({'flowers':['rose','jasmine','lotus']})

In [3]:
df

   flowers
0     rose
1  jasmine
2    lotus

In [10]:
from sklearn.preprocessing import LabelEncoder
lbl_encoder=LabelEncoder()
lbl_encoder.fit_transform(df[['flowers']])

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1])

In [11]:
lbl_encoder.transform([['rose']])

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:134: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([2])

In [12]:
lbl_encoder.transform([['lotus']])

array([1])

In [13]:
lbl_encoder.transform([['jasmine']])

array([0])

## ordinal encoding

In [14]:
df=pd.DataFrame({'education_level':['bachelors','masters','phd']})

In [15]:
from sklearn.preprocessing import OrdinalEncoder

In [16]:
encoder=OrdinalEncoder(categories=[['bachelors','masters','phd']])

In [17]:
encoder.fit_transform(df[['education_level']])

array([[0.],
       [1.],
       [2.]])

In [19]:
encoder.transform([['phd']])

/opt/conda/lib/python3.10/site-packages/sklearn/base.py:409: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[2.]])

In [20]:
encoder.transform([['masters']])

/opt/conda/lib/python3.10/site-packages/sklearn/base.py:409: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[1.]])

In [21]:
encoder.transform([['bachelors']])

/opt/conda/lib/python3.10/site-packages/sklearn/base.py:409: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[0.]])

In [ ]:
# question 2

In [22]:
# target guided ordinal encoding is used to represent categorical variable based on their relationship with the targeted variable.for example: if we have gender category and monthly expenses category our motive is to find which gender paid monthly expenses more? in this situation we must use target guided ordinal encoding to represent the category gender based on their relationship with the targetted variable ctegory(monthly expenses) to predict the output.

In [24]:
import seaborn as sns
df=sns.load_dataset('titanic')

In [26]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [33]:
meanprice=df.groupby('sex')['fare'].mean().to_dict()

In [34]:
meanprice

{'female': 44.47981783439491, 'male': 25.52389341421144}

In [36]:
df['encode']=df['sex'].map(meanprice)

In [39]:
df[['sex','encode']]

        sex     encode
0      male  25.523893
1    female  44.479818
2    female  44.479818
3    female  44.479818
4      male  25.523893
..      ...        ...
886    male  25.523893
887  female  44.479818
888  female  44.479818
889    male  25.523893
890    male  25.523893

[891 rows x 2 columns]

In [ ]:
# question 4

In [40]:
df=pd.DataFrame({'Color': ['red', 'green', 'blue'], 'Size': ['small', 'medium',
'large'], 'Material': ['wood', 'metal', 'plastic']})

In [41]:
df

   Color    Size Material
0    red   small     wood
1  green  medium    metal
2   blue   large  plastic

In [44]:
from sklearn.preprocessing import LabelEncoder
lbl_encoder=LabelEncoder()
lbl_encoder.fit_transform(df[['Color']])

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 1, 0])

In [45]:
lbl_encoder.fit_transform(df[['Size']])

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 1, 0])

In [46]:
lbl_encoder.fit_transform(df[['Material']])

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1])

In [ ]:
# question 6

In [ ]:
# while doing onehotencoding we individually use every categorical variable gender,education level,employment status to perform the model
# while doing label encoding we only use gender and employment status variable category to perform the model because these coulmns generally are not in ranking order
# while doing ordinal encoding we only use education level column to perform the model because this only column contain ranking order
# we can't able do target guided ordinal encoding because no category have numerical value so we can't perform this model.

In [ ]:
# question 7

In [6]:
import pandas as pd
df=pd.DataFrame({'weather_condition':['sunny','cloudy','rainy','spring'],'wind_direction':['north','south','east','west'],'temperature':[98,32,97,33],'humidity':[33,34,85,87]})

In [7]:
df

  weather_condition wind_direction  temperature  humidity
0             sunny          north           98        33
1            cloudy          south           32        34
2             rainy           east           97        85
3            spring           west           33        87

In [8]:
df.cov()

/tmp/ipykernel_102/1545644723.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

             temperature    humidity
temperature  1408.666667  -32.333333
humidity      -32.333333  919.583333

In [ ]:
# question 3

In [ ]:
#