In [ ]:
Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions. 
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
# question 2

l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
list(map(lambda x: x**2,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and  lambda functions 
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
# question 3
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
tuple(map(lambda x : str(x),l))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [ ]:
Q4.  Write a python program using reduce function to compute the product of a list containing numbers  from 1 to 25.

In [15]:
#question4

lst=list(range(1,26))

In [16]:
lst

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25]

In [18]:
from functools import reduce
reduce(lambda x,y : x*y,l)

3628800

In [ ]:
Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the  filter function.

 [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [7]:
l=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [13]:
list(filter(lambda x : x%2==0 and x%3==0, l))

[6, 60, 90, 120]

In [ ]:
Q6. Write a python program to find palindromes in the given list of strings using lambda and filter  function. 
['python', 'php', 'aba', 'radar', 'level']

In [6]:
# question6

lst=['python', 'php', 'aba', 'radar', 'level']

In [12]:
list(filter(lambda x: (x == ''.join(reversed(x))),lst))

['php', 'aba', 'radar', 'level']

In [ ]:
Q1. Create a python program to sort the given list of tuples based on integer value using a  lambda function.  
[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [40]:
# question1
l=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [42]:
list(sorted(l,key=lambda x : x[1]))

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]